.content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 0px;
}

.favoriteHeart {
  color: #707070;
  cursor: pointer;
}

.inputBase {
  height: 90px;
}

h1 {
  padding-bottom: 50px;
  font-size: 50px;
}

input[type="text"] {
  font-size: 30px;
}
