/* .headerStyle {
  height: 85px;
  padding-inline: 0;
  line-height: 64px;
  background-color: white;
}

.contentStyle {
  text-align: center;
  line-height: 120px;
  color: #433ac2;
  background-color: #ffffff;
}

.siderStyle {
  text-align: center;
  line-height: 120px;
  color: #ffffff;
  background-color: #ffffff;
} */
