.labels {
  margin: 20px;
}

h1 {
  margin-top: 10px;
}

.inp {
  border-radius: 1px solid black;
}

.btns {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.btnslocated {
  display: flex;
  justify-content: center;
}

.registration_form {
  margin-top: 10px;
}
