.nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgba(206, 206, 206, 0.398);
  padding: 10px;
}

.img {
  color: black;
}

.pages {
  justify-self: start;
}

.pages > a {
  justify-self: center;
}

.link {
  padding: 30px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.link:hover {
  background-color: rgba(118, 111, 111, 0.209);
  border-radius: 50%;
  transition: all 1s;
}

.link:focus {
  color: rgb(156, 68, 68);
  background-color: rgba(119, 96, 96, 0.209);
  border-radius: 50%;
}

.box {
  display: flex;
}

.dayNight {
  position: absolute;
  top: 2em;
}

.profile {
  margin-top: 2px;
  margin-left: 40px;
}

.logOut {
  text-decoration: none;
  color: #202020;
}
