.cubes {
  /* width: 245px; */
  /* height: 226px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .videoTitle,
.author {
  margin: 0;
} */
/* .videoTitle,
.author {
  font-size: 14px;
  align-self: start;
  padding: 0;
} */
/* 
.videoTitle {
  font-weight: 900;
} */

/* .author {
  font-weight: 100;
  opacity: 0.5;
} */
