.allMoviesGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.allMoviesFlex {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 50px;
  line-height: 0px;
}

.buttDirection {
  display: flex;
  flex-direction: row;
  line-height: 0;
  justify-content: space-between;
  margin: 5px 0;
  color: black;
  line-height: 0px;
}
