.allMovies {
  /* width: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 5px 0px 0px 5px;
  border: 2px solid #1390e5;
  border-right: none;
  outline: none;
  background-color: #1391e51d;
}

/* button {
  width: 100px;
  height: 35.63px;
  background-color: #1390e5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
} */

.heart {
  height: 32px;
  align-self: center;
  border: 2px solid #1390e5;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: #1391e51d;
  display: flex;
  justify-content: center;
  padding: 0px 5px;
}

.searchSystem {
  /* left: 35%; */
  align-self: center;
  align-items: center;
  display: flex;
}

.content {
  /* position: relative; */
  /* left: 40%; */
  /* top: 200px; */
  /* top: 50%; */
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  /* align-items: center; */
  /* margin-top: auto; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
  /* margin: 0; */
}
